<div th:fragment="tablaInventario" class="animate__animated animate__fadeIn h-100 d-flex flex-column">

  <div class="mb-4">
    <h3 class="fw-bold text-dark mb-3">Consulta de Stock</h3>
    <input type="text" id="buscador" class="form-control" placeholder="Buscar producto por nombre o SKU..."
      onkeyup="filtrarTabla()">
  </div>

  <div class="card shadow-sm border-0 flex-grow-1 overflow-hidden">
    <div class="card-body p-0 d-flex flex-column h-100">
      <div class="table-responsive flex-grow-1">
        <table class="table align-middle mb-0" id="tabla-inventario">
          <thead class="table-light sticky-top">
            <tr>
              <th>Imagen</th>
              <th>SKU</th>
              <th>Producto</th>
              <th>Stock</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="p : ${productos}">
              <td>
                <img th:if="${p.urlImagen != null}" th:src="${p.urlImagen}"
                  style="width: 40px; height: 40px; object-fit: contain;" class="border rounded bg-white">
              </td>
              <td th:text="${p.sku}" class="small font-monospace text-muted">SKU</td>
              <td>
                <div class="fw-bold" th:text="${p.nombre}">Nombre</div>
                <small class="text-muted" th:text="${p.color.nombre}">Color</small>
              </td>
              <td>
                <span class="badge"
                  th:classappend="${p.stock > 5 ? 'bg-success' : (p.stock > 0 ? 'bg-warning' : 'bg-danger')}"
                  th:text="${p.stock}">10</span>
              </td>
              <td class="fw-bold text-dark" th:text="'S/ ' + ${p.precio}">Price</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>