<!-- MODAL AGREGAR USUARIO -->
<div th:fragment="modalAgregarUsuario" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light fw-bold">AGREGAR USUARIO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${error}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/usuarios/agregar}" th:object="${usuarioAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Datos personales</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_nombres">Nombres</label>
              <input type="text" class="form-control" id="add_nombres"
                th:classappend="${#fields.hasErrors('nombres')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa los nombres del usuario" th:field="*{nombres}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombres')}"
                th:errors="*{nombres}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_apellidos">Apellidos</label>
              <input type="text" class="form-control" id="add_apellidos"
                th:classappend="${#fields.hasErrors('apellidos')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa los apellidos del usuario" aria-label="Apellidos" th:field="*{apellidos}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('apellidos')}"
                th:errors="*{apellidos}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="add_dni">DNI</label>
              <input type="text" class="form-control" id="add_dni" minlength="8" maxlength="8"
                th:classappend="${#fields.hasErrors('dni')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el DNI del usuario" th:field="*{dni}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_email">Correo</label>
              <input type="email" class="form-control" id="add_email"
                th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el correo del usuario" th:field="*{email}" autocomplete="off" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
              </div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="add_telefono">Teléfono</label>
              <input type="text" class="form-control" id="add_telefono" minlength="9" maxlength="9"
                th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el teléfono del usuario" th:field="*{telefono}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('telefono')}"
                th:errors="*{telefono}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_direccion">Dirección</label>
              <input type="text" class="form-control" id="add_direccion"
                th:classappend="${#fields.hasErrors('direccion')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa la dirección del usuario" th:field="*{direccion}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('direccion')}"
                th:errors="*{direccion}"></div>
            </div>

            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Credenciales de acceso</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_nombreUsuario">Usuario</label>
              <input type="text" class="form-control" minlength="4" id="add_nombreUsuario"
                th:classappend="${#fields.hasErrors('nombreUsuario')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el usuario" th:field="*{nombreUsuario}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombreUsuario')}"
                th:errors="*{nombreUsuario}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_password">Contraseña</label>
              <input type="password" class="form-control" id="add_password"
                th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa la contraseña" th:field="*{password}" autocomplete="new-password" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_idRol">Rol</label>
              <select class="form-select" th:field="*{idRol}" id="add_idRol" required>
                <option th:each="rol : ${roles}"
                  th:if="${rol.nivel < usuarioActual.rol.nivel or usuarioActual.rol.nombre == 'OWNER'}"
                  th:value="${rol.idRol}" th:text="${rol.nombre}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR ROL -->
<div th:fragment="modalAgregarRol" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR ROL</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/roles/agregar}" th:object="${rolAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre del rol</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del rol" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="add_nivel">Nivel de acceso</label>
              <input type="number" class="form-control" id="add_nivel"
                th:classappend="${#fields.hasErrors('nivel')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                min="0" max="10" th:field="*{nivel}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR COLOR -->
<div th:fragment="modalAgregarColor" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR COLOR</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/colores/agregar}" th:object="${colorAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre del Color</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del color" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR ESTADO COMPRA -->
<div th:fragment="modalAgregarEstadoCompra" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR ESTADO DE COMPRAS</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/estados-compras/agregar}"
        th:object="${estadoCompraAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre de Estado de compra</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del estado de compra" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR ESTADO PAGO -->
<div th:fragment="modalAgregarEstadoPago" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR ESTADO DE PAGO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/estados-pagos/agregar}"
        th:object="${estadoPagoAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre de Estado de pago</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del estado de pago" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR METODO PAGO -->
<div th:fragment="modalAgregarMetodoPago" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR METODO DE PAGO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/metodos-pagos/agregar}"
        th:object="${metodoPagoAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre de Metodo de Pago</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del metodo de pago" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR TIPO DE COMPROBANTE -->
<div th:fragment="modalAgregarTipoComprobante" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR TIPO DE COMPROBANTE</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/tipos-comprobantes/agregar}"
        th:object="${tipoComprobanteAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre de Tipo de Comprobante</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del tipo de comprobante" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR PEDIDO -->
<div th:fragment="modalAgregarPedido" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">

      <div class="modal-header bg-success">
        <h5 class="modal-title text-light fw-bold">AGREGAR PEDIDO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container mt-3">
        <div th:if="${errorNullAgregar}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error:</strong> <span th:text="${errorNullAgregar}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/pedidos/agregar}" th:object="${pedidoAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_idUsuario">Usuario (Cliente)</label>
              <select class="form-select" th:field="*{idUsuario}" id="add_idUsuario"
                th:classappend="${#fields.hasErrors('idUsuario')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option value="" disabled selected>-- Selecciona un usuario --</option>
                <option th:each="usuario : ${usuarios}" th:value="${usuario.idUsuario}"
                  th:text="${usuario.nombres + ' ' + usuario.apellidos + ' (' + usuario.nombreUsuario + ')'}"></option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idUsuario')}"
                th:errors="*{idUsuario}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_idEstadoCompra">Estado del Pedido</label>
              <select class="form-select" th:field="*{idEstadoCompra}" id="add_idEstadoCompra"
                th:classappend="${#fields.hasErrors('idEstadoCompra')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option value="" disabled selected>-- Selecciona un estado --</option>
                <option th:each="estado : ${estadosCompras}" th:value="${estado.idEstadoCompra}"
                  th:text="${estado.nombre}"></option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idEstadoCompra')}"
                th:errors="*{idEstadoCompra}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_idMetodoPago">Método de Pago</label>
              <select class="form-select" th:field="*{idMetodoPago}" id="add_idMetodoPago"
                th:classappend="${#fields.hasErrors('idMetodoPago')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option value="" disabled selected>-- Selecciona un método de pago --</option>
                <option th:each="metodo : ${metodosPagos}" th:value="${metodo.idMetodoPago}" th:text="${metodo.nombre}">
                </option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idMetodoPago')}"
                th:errors="*{idMetodoPago}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_idTipoComprobante">Tipo de Comprobante</label>
              <select class="form-select" th:field="*{idTipoComprobante}" id="add_idTipoComprobante"
                th:classappend="${#fields.hasErrors('idTipoComprobante')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option value="" disabled selected>-- Selecciona un comprobante --</option>
                <option th:each="comprobante : ${tiposComprobantes}" th:value="${comprobante.idTipoComprobante}"
                  th:text="${comprobante.nombre}"></option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idTipoComprobante')}"
                th:errors="*{idTipoComprobante}"></div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL AGREGAR PEDIDO ITEM -->
<div th:fragment="modalAgregarPedidoItem" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">

      <div class="modal-header bg-success">
        <h5 class="modal-title text-light fw-bold">AGREGAR ITEM AL PEDIDO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container mt-3">
        <div th:if="${errorNullAgregarPedidoItem}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error:</strong> <span th:text="${errorNullAgregarPedidoItem}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/pedido-items/agregar}"
        th:object="${pedidoItemAgregarDto}">
        <div class="modal-body px-5">

          <input type="hidden" name="idPedido" th:value="${pedido != null ? pedido.idPedido : ''}">

          <div class="row">

            <div class="col-12">
              <label class="form-label ms-2 mt-2" for="add_item_idProducto">Producto</label>
              <select class="form-select" th:field="*{idProducto}" id="add_item_idProducto"
                th:classappend="${#fields.hasErrors('idProducto')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required onchange="actualizarPrecioItem('add')">
                <option th:value="''" selected disabled>-- Selecciona un producto --</option>
                <option th:each="producto : ${productos}" th:value="${producto.idProducto}" th:text="${producto.nombre}"
                  th:data-precio="${producto.precio}"> </option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idProducto')}"
                th:errors="*{idProducto}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_item_cantidad">Cantidad</label>
              <input type="number" class="form-control"
                th:classappend="${#fields.hasErrors('cantidad')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa la cantidad" th:field="*{cantidad}" id="add_item_cantidad" min="1" required
                oninput="calcularTotalItem('add')">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('cantidad')}"
                th:errors="*{cantidad}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_item_precio">Precio Unitario (S/.)</label>
              <input type="number" class="form-control" step="0.01"
                th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el precio" th:field="*{precio}" id="add_item_precio" min="0.01" required
                oninput="calcularTotalItem('add')">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">
              </div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="add_item_totalPreview">Total Item (Preview)</label>
              <input type="text" class="form-control" id="add_item_totalPreview" value="S/ 0.00" disabled readonly
                style="font-weight: bold; background-color: #e9ecef;">
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar Item</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- AGREGAR CATEGORÍA -->
<div th:fragment="modalAgregarCategoria" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title">AGREGAR CATEGORÍA</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/categorias/agregar}" th:object="${categoriaAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre de la Categoría</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre de la categoría" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- AGREGAR PRODUCTO -->
<div th:fragment="modalAgregarProducto" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light fw-bold">AGREGAR PRODUCTO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${error}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/productos/agregar}" th:object="${productoAgregarDto}">
        <div class="modal-body px-5">
          <div class="row">
            <!-- DATOS DEL PRODUCTO -->
            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Datos del producto</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_nombre">Nombre del producto</label>
              <input type="text" class="form-control" id="add_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del producto" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_sku">Código SKU</label>
              <input type="text" class="form-control" id="add_sku"
                th:classappend="${#fields.hasErrors('sku')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ej: PRD-001" th:field="*{sku}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="add_idCategoria">Categoría</label>

              <select class="form-select" th:field="*{idCategoria}" id="add_idCategoria"
                th:classappend="${#fields.hasErrors('idCategoria')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}"
                  th:text="${categoria.nombre}">
                </option>
              </select>

              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idCategoria')}"
                th:errors="*{idCategoria}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="add_descripcion">Descripción</label>
              <textarea class="form-control" rows="2" id="add_descripcion"
                th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Escribe una breve descripción del producto" th:field="*{descripcion}"></textarea>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('descripcion')}"
                th:errors="*{descripcion}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="add_precio">Precio</label>
              <input type="number" step="0.01" class="form-control" id="add_precio"
                th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el precio" th:field="*{precio}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>