<!-- EDITAR USUARIO -->
<div th:fragment="modalEditarUsuario" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light fw-bold">EDITAR USUARIO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${error}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/usuarios/editar}" th:object="${usuarioEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" th:field="*{idUsuario}">

          <div class="row">
            <!-- DATOS PERSONALES -->
            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Datos personales</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombres">Nombres</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('nombres')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa los nombres del usuario" th:field="*{nombres}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombres')}"
                th:errors="*{nombres}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="apellidos">Apellidos</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('apellidos')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa los apellidos del usuario" aria-label="Apellidos" th:field="*{apellidos}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('apellidos')}"
                th:errors="*{apellidos}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="dni">DNI</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('dni')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el DNI del usuario" th:field="*{dni}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="email">Correo</label>
              <input type="email" class="form-control"
                th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el correo del usuario" th:field="*{email}" required autocomplete="off">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
              </div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="telefono">Teléfono</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el teléfono del usuario" th:field="*{telefono}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('telefono')}"
                th:errors="*{telefono}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="direccion">Dirección</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('direccion')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa la dirección del usuario" th:field="*{direccion}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('direccion')}"
                th:errors="*{direccion}"></div>
            </div>

            <!-- CREDENCIALES DE ACCESO -->
            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Credenciales de acceso</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombreUsuario">Usuario</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('nombreUsuario')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el usuario" th:field="*{nombreUsuario}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombreUsuario')}"
                th:errors="*{nombreUsuario}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="password">Contraseña</label>
              <input type="password" class="form-control"
                th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                placeholder="Dejar en blanco si no deseas cambiar la contraseña" th:field="*{password}"
                autocomplete="new-password">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2">Rol</label>
              <select class="form-select" th:field="*{idRol}" required>
                <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:attr="data-nivel=${rol.nivel}"
                  th:text="${rol.nombre}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- EDITAR ROL -->
<div th:fragment="modalEditarRol" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title">
          <span></span> Editar rol
        </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/roles/editar}" th:object="${rolEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" th:field="*{idRol}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2">Nombre del rol</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del rol" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
            <div class="col-4">
              <label class="form-label ms-2 mt-2">Nivel de acceso</label>
              <input type="number" class="form-control"
                th:classappend="${#fields.hasErrors('nivel')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                min="0" max="10" th:field="*{nivel}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- EDITAR COLOR -->
<div th:fragment="modalEditarColor" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title">
          <span></span> Editar Color
        </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/colores/editar}" th:object="${colorEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" th:field="*{idColor}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2">Nombre del color</label>
              <input type="text" class="form-control"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del color" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>