<!-- MODAL EDITAR USUARIO -->
<div th:fragment="modalEditarUsuario" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light fw-bold">EDITAR USUARIO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${error}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/usuarios/editar}" th:object="${usuarioEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" th:field="*{idUsuario}" id="edit_idUsuario">

          <div class="row">
            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Datos personales</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_nombres">Nombres</label>
              <input type="text" class="form-control" id="edit_nombres"
                th:classappend="${#fields.hasErrors('nombres')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa los nombres del usuario" th:field="*{nombres}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombres')}"
                th:errors="*{nombres}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_apellidos">Apellidos</label>
              <input type="text" class="form-control" id="edit_apellidos"
                th:classappend="${#fields.hasErrors('apellidos')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa los apellidos del usuario" aria-label="Apellidos" th:field="*{apellidos}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('apellidos')}"
                th:errors="*{apellidos}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_dni">DNI</label>
              <input type="text" class="form-control" id="edit_dni" minlength="8" maxlength="8"
                th:classappend="${#fields.hasErrors('dni')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el DNI del usuario" th:field="*{dni}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_email">Correo</label>
              <input type="email" class="form-control" id="edit_email"
                th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el correo del usuario" th:field="*{email}" autocomplete="off" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
              </div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_telefono">Teléfono</label>
              <input type="text" class="form-control" id="edit_telefono" minlength="9" maxlength="9"
                th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el teléfono del usuario" th:field="*{telefono}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('telefono')}"
                th:errors="*{telefono}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_direccion">Dirección</label>
              <input type="text" class="form-control" id="edit_direccion"
                th:classappend="${#fields.hasErrors('direccion')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa la dirección del usuario" th:field="*{direccion}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('direccion')}"
                th:errors="*{direccion}"></div>
            </div>

            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Credenciales de acceso</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_nombreUsuario">Usuario</label>
              <input type="text" class="form-control" id="edit_nombreUsuario"
                th:classappend="${#fields.hasErrors('nombreUsuario')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el usuario" th:field="*{nombreUsuario}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombreUsuario')}"
                th:errors="*{nombreUsuario}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_password">Contraseña</label>
              <input type="password" class="form-control" id="edit_password"
                th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                placeholder="Dejar en blanco si no deseas cambiar la contraseña" th:field="*{password}"
                autocomplete="new-password">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_idRol">Rol</label>
              <select class="form-select" th:field="*{idRol}" id="edit_idRol" required>
                <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:attr="data-nivel=${rol.nivel}"
                  th:text="${rol.nombre}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL EDITAR ROL -->
<div th:fragment="modalEditarRol" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title">
          <span></span> Editar rol
        </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/roles/editar}" th:object="${rolEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idRol" th:field="*{idRol}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre del rol</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del rol" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_nivel">Nivel de acceso</label>
              <input type="number" class="form-control" id="edit_nivel"
                th:classappend="${#fields.hasErrors('nivel')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                min="0" max="10" th:field="*{nivel}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL EDITAR COLOR -->
<div th:fragment="modalEditarColor" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title">
          <span></span> Editar Color
        </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/colores/editar}" th:object="${colorEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idColor" th:field="*{idColor}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre del color</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del color" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL EDITAR ESTADO COMPRA -->
<div th:fragment="modalEditarEstadoCompra" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title"> EDITAR ESTADO COMPRA </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/estados-compras/editar}"
        th:object="${estadoCompraEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idEstadoCompra" th:field="*{idEstadoCompra}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre de Estado de compra</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del estado de compra" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL EDITAR ESTADO PAGO -->
<div th:fragment="modalEditarEstadoPago" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title"> EDITAR ESTADO DE PAGO </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/estados-pagos/editar}" th:object="${estadoPagoEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idEstadoPago" th:field="*{idEstadoPago}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre de Estado de pago</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del estado de pago" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL EDITAR METODO PAGO -->
<div th:fragment="modalEditarMetodoPago" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title"> EDITAR METODO DE PAGO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/metodos-pagos/editar}" th:object="${metodoPagoEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idMetodoPago" th:field="*{idMetodoPago}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre de Metodo de pago</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del metodo de pago" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- MODAL EDITAR TIPO COMPROBANTE -->
<div th:fragment="modalEditarTipoComprobante" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title"> EDITAR TIPO DE COMPROBANTE</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/tipos-comprobantes/editar}"
        th:object="${tipoComprobanteEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idTipoComprobante" th:field="*{idTipoComprobante}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre del Tipo de comprobante</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del tipo de comprobante" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- MODAL EDITAR PEDIDO -->
<div th:fragment="modalEditarPedido" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">

      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light fw-bold">EDITAR PEDIDO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="m-3">
        <div th:if="${errorNullEditar}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error:</strong> <span th:text="${errorNullEditar}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/pedidos/editar}" th:object="${pedidoEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" th:field="*{idPedido}">

          <div class="row">

            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Datos del Cliente (Solo Lectura)</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2">Email</label>
              <input type="text" class="form-control" id="editPedidoUsuarioEmail" disabled readonly>

              <label class="form-label ms-2 mt-2">Usuario</label>
              <input type="text" class="form-control" id="editPedidoUsuarioNombreUsuario" disabled readonly>
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2">Cliente</label>
              <input type="text" class="form-control" id="editPedidoUsuarioNombre" disabled readonly>
            </div>

            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Datos del Pedido (Editable)</h5>
              <hr class="my-1">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_idEstadoCompra">Estado del Pedido</label>
              <select class="form-select" th:field="*{idEstadoCompra}" id="edit_idEstadoCompra"
                th:classappend="${#fields.hasErrors('idEstadoCompra')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option th:each="estado : ${estadosCompras}" th:value="${estado.idEstadoCompra}"
                  th:text="${estado.nombre}"></option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idEstadoCompra')}"
                th:errors="*{idEstadoCompra}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_idMetodoPago">Método de Pago</label>
              <select class="form-select" th:field="*{idMetodoPago}" id="edit_idMetodoPago"
                th:classappend="${#fields.hasErrors('idMetodoPago')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option th:each="metodo : ${metodosPagos}" th:value="${metodo.idMetodoPago}" th:text="${metodo.nombre}">
                </option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idMetodoPago')}"
                th:errors="*{idMetodoPago}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_idTipoComprobante">Tipo de Comprobante</label>
              <select class="form-select" th:field="*{idTipoComprobante}" id="edit_idTipoComprobante"
                th:classappend="${#fields.hasErrors('idTipoComprobante')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option th:each="comprobante : ${tiposComprobantes}" th:value="${comprobante.idTipoComprobante}"
                  th:text="${comprobante.nombre}"></option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idTipoComprobante')}"
                th:errors="*{idTipoComprobante}"></div>
            </div>

          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- MODAL EDITAR PEDIDO ITEM -->
<div th:fragment="modalEditarPedidoItem" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">

      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light fw-bold">EDITAR ITEM DEL PEDIDO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="m-3">
        <div th:if="${errorNullEditarPedidoItem}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error:</strong> <span th:text="${errorNullEditarPedidoItem}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/pedido-items/editar}" th:object="${pedidoItemEditarDto}">
        <div class="modal-body px-5">

          <input type="hidden" th:field="*{idPedidoItem}">

          <div class="row">
            <div class="col-12">
              <label class="form-label ms-2 mt-2" for="edit_item_idProducto">Producto</label>
              <select class="form-select" th:field="*{idProducto}" id="edit_item_idProducto"
                th:classappend="${#fields.hasErrors('idProducto')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required onchange="actualizarPrecioItem('edit')">
                <option th:each="producto : ${productos}" th:value="${producto.idProducto}" th:text="${producto.nombre}"
                  th:data-precio="${producto.precio}">
                </option>
              </select>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idProducto')}"
                th:errors="*{idProducto}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_item_cantidad">Cantidad</label>
              <input type="number" class="form-control"
                th:classappend="${#fields.hasErrors('cantidad')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                th:field="*{cantidad}" id="edit_item_cantidad" min="1" required oninput="calcularTotalItem('edit')">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('cantidad')}"
                th:errors="*{cantidad}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_item_precio">Precio Unitario (S/.)</label>
              <input type="number" class="form-control" step="0.01"
                th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                th:field="*{precio}" id="edit_item_precio" min="0.01" required oninput="calcularTotalItem('edit')">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">
              </div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_item_totalPreview">Total Item (Preview)</label>
              <input type="text" class="form-control" id="edit_item_totalPreview" value="S/ 0.00" disabled readonly
                style="font-weight: bold; background-color: #e9ecef;">
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EDITAR CATEGORÍA -->
<div th:fragment="modalEditarCategoria" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary text-light fw-bold">
        <h5 class="modal-title">
          <span></span> Editar Categoría
        </h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/categorias/editar}" th:object="${categoriaEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" id="edit_idCategoria" th:field="*{idCategoria}">

          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre de la categoría</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre de la categoría" th:field="*{nombre}">
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EDITAR PRODUCTO -->
<div th:fragment="modalEditarProducto" class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light fw-bold">EDITAR PRODUCTO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
          <span th:text="${error}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/productos/editar}" th:object="${productoEditarDto}">
        <div class="modal-body px-5">
          <input type="hidden" th:field="*{idProducto}">

          <div class="row">
            <!-- DATOS DEL PRODUCTO -->
            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Datos del producto</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_nombre">Nombre del producto</label>
              <input type="text" class="form-control" id="edit_nombre"
                th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el nombre del producto" th:field="*{nombre}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
              </div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_sku">Código SKU</label>
              <input type="text" class="form-control" id="edit_sku"
                th:classappend="${#fields.hasErrors('sku')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ej: PRD-001" th:field="*{sku}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></div>
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="edit_idCategoria">Categoría</label>

              <select class="form-select" th:field="*{idCategoria}" id="edit_idCategoria"
                th:classappend="${#fields.hasErrors('idCategoria')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                required>
                <option th:each="cat : ${categorias}" th:value="${cat.idCategoria}" th:text="${cat.nombre}">
                </option>
              </select>

              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('idCategoria')}"
                th:errors="*{idCategoria}"></div>
            </div>

            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="edit_descripcion">Descripción</label>
              <textarea class="form-control" rows="2" id="edit_descripcion"
                th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Escribe una breve descripción del producto" th:field="*{descripcion}"></textarea>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('descripcion')}"
                th:errors="*{descripcion}"></div>
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="edit_precio">Precio</label>
              <input type="number" step="0.01" class="form-control" id="edit_precio"
                th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                placeholder="Ingresa el precio del producto" th:field="*{precio}" required>
              <div class="text-wrap text-error-validation" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>