<!-- AGREGAR USUARIO -->
<div th:fragment="modalAgregarUsuario" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title"> <span><i class="bi bi-person-plus"></i><span> AGREGAR USUARIO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/usuarios/agregar}">
        <div class="modal-body px-5">
          <div class="row">
            <!-- DATOS PERSONALES -->
            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Datos personales</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombres">Nombres</label>
              <input type="text" class="form-control" placeholder="Ingresa los nombres del usuario" name="nombres">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="apellidos">Apellidos</label>
              <input type="text" class="form-control" placeholder="Ingresa los apellidos del usuario"
                aria-label="Apellidos" name="apellidos">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="dni">DNI</label>
              <input type="text" class="form-control" placeholder="Ingresa el DNI del usuario" name="dni">
            </div>
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="email">Correo</label>
              <input type="email" class="form-control" placeholder="Ingresa el correo del usuario" name="email">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="telefono">Teléfono</label>
              <input type="text" class="form-control" placeholder="Ingresa el teléfono del usuario" name="telefono">
            </div>
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="direccion">Dirección</label>
              <input type="text" class="form-control" placeholder="Ingresa la dirección del usuario" name="direccion">
            </div>

            <!-- CREDENCIALES DE ACCESO -->
            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Credenciales de acceso</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2">Usuario</label>
              <input type="text" class="form-control" placeholder="Ingresa el usuario" name="nombreUsuario">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2">Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingresa la contraseña" name="password">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2">Rol</label>
              <select class="form-select" name="idRol" required>
                <option value="" disabled selected>-- Selecciona un rol --</option>
                <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.nombre}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- AGREGAR ROL -->
<div th:fragment="modalAgregarRol" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title"><span><i class="bi bi-person-rolodex"></i><span> AGREGAR ROL</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/roles/agregar}" th:object="${rol}">
        <div class="modal-body px-5">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2">Nombre del rol</label>
              <input type="text" class="form-control" placeholder="Ingresa el nombre del rol" th:field="*{nombre}">
            </div>
            <div class="col-4">
              <label class="form-label ms-2 mt-2">Nivel de acceso</label>
              <input type="number" class="form-control" min="0" th:field="*{nivel}">
            </div>
          </div>
        </div>

        <div class="modal-footer px-5">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>