<!-- AGREGAR USUARIO -->
<div th:fragment="modalAgregarUsuario" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title"> <span><i class="bi bi-person-plus"></i><span> AGREGAR USUARIO</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/usuarios/agregar}" th:object="${usuario}">
        <div class="modal-body">
          <div class="row">
            <!-- DATOS PERSONALES -->
            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Datos personales</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombres">Nombres</label>
              <input type="text" class="form-control" placeholder="Ingresa los nombres del usuario"
                th:field="*{nombres}">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="apellidos">Apellidos</label>
              <input type="text" class="form-control" placeholder="Ingresa los apellidos del usuario"
                aria-label="Apellidos" th:field="*{apellidos}">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="dni">DNI</label>
              <input type="text" class="form-control" placeholder="Ingresa el DNI del usuario" th:field="*{dni}">
            </div>
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="email">Correo</label>
              <input type="email" class="form-control" placeholder="Ingresa el correo del usuario" th:field="*{email}">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="telefono">Teléfono</label>
              <input type="text" class="form-control" placeholder="Ingresa el teléfono del usuario"
                th:field="*{telefono}">
            </div>
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="direccion">Dirección</label>
              <input type="text" class="form-control" placeholder="Ingresa la dirección del usuario"
                th:field="*{direccion}">
            </div>

            <!-- CREDENCIALES DE ACCESO -->
            <div class="col-12">
              <h5 class="mt-4 mb-0 text-center">Credenciales de acceso</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombreUsuario">Usuario</label>
              <input type="text" class="form-control" placeholder="Ingresa el usuario" th:field="*{nombreUsuario}">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="password">Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingresa la contraseña" th:field="*{password}">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2">Rol</label>
              <select class="form-select" th:field="*{rol}">
                <option value="CLIENTE" selected>Cliente</option>
                <option value="EMPLEADO">Empleado</option>
                <option value="ADMINISTRADOR">Administrador</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-end g-3 pe-4">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- AGREGAR USUARIO -->
<div th:fragment="modalAgregarRol" class="modal fade" id="modalAgregar" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-success text-light fw-bold">
        <h5 class="modal-title"><span><i class="bi bi-person-rolodex"></i><span> AGREGAR ROL</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>

      <form class="row g-3" method="post" th:action="@{/admin/roles/agregar}" th:object="${rol}">
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <label class="form-label ms-2 mt-2">Nombre del rol</label>
              <input type="text" class="form-control" placeholder="Ingresa el nombre del rol" th:field="*{nombre}">
            </div>
            <div class="col-4">
              <label class="form-label ms-2 mt-2">Nivel de acceso</label>
              <input type="number" class="form-control" min="0" th:field="*{nivel}">
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-end g-3 pe-4">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>