<!-- AGREGAR USUARIO -->
<div th:fragment="modalAgregarUsuario" class="modal fade" id="modalAgregarUsuario" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header">
        <h5 class="modal-title">➕ Agregar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" method="post" th:action="@{/admin/usuarios/agregar}" th:object="${usuario}">
          <div class="row">
            <!-- DATOS PERSONALES -->
            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Datos personales</h5>
              <hr class="my-1">
            </div>

            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombres">Nombres</label>
              <input type="text" class="form-control" placeholder="Ingresa los nombres del usuario"
                th:field="*{nombres}">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="apellidos">Apellidos</label>
              <input type="text" class="form-control" placeholder="Ingresa los apellidos del usuario"
                aria-label="Apellidos" th:field="*{apellidos}">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="dni">DNI</label>
              <input type="text" class="form-control" placeholder="Ingresa el DNI del usuario" th:field="*{dni}">
            </div>
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="email">Correo</label>
              <input type="email" class="form-control" placeholder="Ingresa el correo del usuario" th:field="*{email}">
            </div>

            <div class="col-4">
              <label class="form-label ms-2 mt-2" for="telefono">Teléfono</label>
              <input type="text" class="form-control" placeholder="Ingresa el teléfono del usuario"
                th:field="*{telefono}">
            </div>
            <div class="col-8">
              <label class="form-label ms-2 mt-2" for="direccion">Dirección</label>
              <input type="text" class="form-control" placeholder="Ingresa la dirección del usuario"
                th:field="*{direccion}">
            </div>

            <!-- CREDENCIALES DE ACCESO -->
            <div class="col-12">
              <h5 class="mt-3 mb-0 text-center">Credenciales de acceso</h5>
              <hr class="my-1">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="nombreUsuario">Usuario</label>
              <input type="text" class="form-control" placeholder="Ingresa el usuario" th:field="*{nombreUsuario}">
            </div>
            <div class="col-6">
              <label class="form-label ms-2 mt-2" for="password">Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingresa la contraseña" th:field="*{password}">
            </div>
          </div>

          <div class="col-6">
            <label class="form-label ms-2 mt-2">Rol</label>
            <select class="form-select" th:field="*{rol}">
              <option value="CLIENTE" selected>Cliente</option>
              <option value="EMPLEADO">Empleado</option>
              <option value="ADMINISTRADOR">Administrador</option>
            </select>
          </div>

          <div class="modal-footer justify-content-center g-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>