<div th:fragment="tablaColores" class="container-fluid animate__animated animate__fadeIn"
  th:attr="data-mostrar-modal=${mostrarModal}">

  <!-- CONTENIDO -->
  <main class="container-fluid px-4 my-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bold">Tabla Colores</h2>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
        <span><i class="bi bi-person-rolodex"></i><span> Agregar
      </button>
    </div>

    <!-- Tabla -->
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha registro</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="color : ${colores}">
                <td th:text="${color.idColor}">ID</td>
                <td th:text="${color.nombre}">Nombres</td>
                <td th:text="${#temporals.format(color.fechaCreacion, 'dd/MM/yyyy HH:mm')}">Fecha registro</td>
                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-outline-primary" data-entidad="color"
                    data-bs-toggle="modal" data-bs-target="#modalEditar" title="Editar" th:data-id="${color.idColor}"
                    th:data-nombre="${color.nombre}">
                    <span><i class="bi bi-pencil-square"></i></span>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-danger" data-entidad="color"
                    data-bs-toggle="modal" data-bs-target="#modalEliminar" th:data-id="${color.idColor}"
                    th:data-nombre="${color.nombre}" title="Eliminar">
                    <span><i class="bi bi-trash3-fill"></i></span>
                  </button>
                </td>
              </tr>

              <!-- En caso de estar vacios -->
              <tr th:if="${colores==null or #lists.isEmpty(colores)}">
                <td colspan="4" class="text-center text-muted py-3">
                  No hay colores registrados.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <!-- MODALES -->
  <div th:replace="~{fragments/adminBD/modalAgregarRegistro :: modalAgregarColor}"></div>
  <div th:replace="~{fragments/adminBD/modalEditarRegistro :: modalEditarColor}"></div>
  <div th:replace="~{fragments/adminBD/modalEliminarRegistro :: modalEliminarColor}"></div>
</div>