<div th:fragment="tablaMetodosPagos" class="container-fluid animate__animated animate__fadeIn"
  th:attr="data-mostrar-modal=${mostrarModal}">
  <!-- CONTENIDO -->
  <main class="container-fluid px-4 my-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold">Tabla Métodos de Pagos</h1>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
        <span><i class="bi bi-person-rolodex"></i><span> Agregar
      </button>
    </div>

    <!-- Tabla -->
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha registro</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="metodoPago : ${metodosPagos}">
                <td th:text="${metodoPago.idMetodoPago}">ID</td>
                <td th:text="${metodoPago.nombre}">Nombres</td>
                <td th:text="${#temporals.format(metodoPago.fechaCreacion, 'dd/MM/yyyy HH:mm')}">Fecha registro</td>
                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#modalEditar" title="Editar" data-entidad="metodoPago"
                    th:data-id="${metodoPago.idMetodoPago}" th:data-nombre="${metodoPago.nombre}">
                    <span><i class="bi bi-pencil-square"></i></span>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                    data-entidad="metodoPago" th:data-id="${metodoPago.idMetodoPago}"
                    th:data-nombre="${metodoPago.nombre}" data-bs-target="#modalEliminar" title="Eliminar">
                    <span><i class="bi bi-trash3-fill"></i></span>
                  </button>
                </td>
              </tr>

              <!-- En caso de estar vacios -->
              <tr th:if="${metodosPagos==null or #lists.isEmpty(metodosPagos)}">
                <td colspan="4" class="text-center text-muted py-3">
                  No hay metodos de pagos registrados.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <!-- MODALES -->
  <div th:replace="~{fragments/adminBD/modalAgregarRegistro :: modalAgregarMetodoPago}"></div>
  <div th:replace="~{fragments/adminBD/modalEditarRegistro :: modalEditarMetodoPago}"></div>
  <div th:replace="~{fragments/adminBD/modalEliminarRegistro :: modalEliminarMetodoPago}"></div>
</div>