<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/heads :: cabeceraPrincipal('BD - Pedidos')}"></head>

<body class="bg-light d-flex flex-column min-vh-100" th:attr="data-mostrar-modal=${mostrarModal}">

  <!-- NAVBAR -->
  <header class="sticky-top">
    <nav th:replace="~{fragments/navbars :: navbarPrincipal}">
    </nav>
  </header>

  <!-- CONTENIDO -->
  <main class="container-fluid px-5 my-5">
    <div th:if="${errorGeneral}" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span th:text="${errorGeneral}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold">TABLA PEDIDOS</h1>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
        <span><i class="bi bi-database-fill-add me-2"></i><span> Agregar
      </button>
    </div>

    <!-- Tabla -->
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>CLIENTE</th>
                <th>USUARIO</th>
                <th>CORREO</th>
                <th class="text-center">TOTAL</th>
                <th>MÉTODO DE PAGO</th>
                <th>COMPROBANTE</th>
                <th>ESTADO</th>
                <th>ÚLTIMA ACTUALIZACIÓN</th>
                <th>FECHA DE CREACIÓN</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody style="font-size: .95rem;">
              <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.idPedido}">ID</td>
                <td th:text="${pedido.usuario?.nombres + ' ' + pedido.usuario?.apellidos}">CLIENTE</td>
                <td th:text="${pedido.usuario?.nombreUsuario}">USUARIO</td>
                <td th:text="${pedido.usuario?.email}">CORREO</td>
                <td th:text="${'S/. ' + #numbers.formatDecimal(pedido.total, 1, 2, 'COMMA')}">TOTAL</td>
                <td th:text="${pedido.metodoPago?.nombre}">MÉTODO DE PAGO</td>
                <td th:text="${pedido.tipoComprobante?.nombre}">COMPROBANTE</td>
                <td th:text="${pedido.estadoCompra?.nombre}">ESTADO</td>
                <td th:text="${#temporals.format(pedido.fechaActualizacion, 'dd/MM/yyyy HH:mm')}">ÚLTIMA ACTUALIZACIÓN
                </td>
                <td th:text="${#temporals.format(pedido.fechaCreacion, 'dd/MM/yyyy HH:mm')}">FECHA DE CREACIÓN</td>
                <td class="justify-content-center text-center">
                  <a th:href="@{/admin/pedidos/detalles/{id}(id=${pedido.idPedido})}" class="btn btn-sm btn-info"
                    title="Ver Detalles (Items)">
                    <span><i class="bi bi-list-ul"></i></span>
                  </a>
                  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modalEditar" title="Editar" data-entidad="pedido" th:data-id="${pedido.idPedido}"
                    th:data-id-metodo-pago="${pedido.metodoPago?.idMetodoPago}"
                    th:data-id-tipo-comprobante="${pedido.tipoComprobante?.idTipoComprobante}"
                    th:data-id-estado-compra="${pedido.estadoCompra?.idEstadoCompra}" th:data-total="${pedido.total}"
                    th:data-usuario-nombreCompleto="${pedido.usuario?.nombres + ' ' + pedido.usuario?.apellidos}"
                    th:data-usuario="${pedido.usuario?.nombreUsuario}" th:data-usuario-email="${pedido.usuario?.email}">
                    <span><i class="bi bi-pencil-square"></i></span>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalEliminar" title="Eliminar" data-entidad="pedido"
                    th:data-id="${pedido.idPedido}" th:data-metodo-pago="${pedido.metodoPago?.nombre}"
                    th:data-tipo-comprobante="${pedido.tipoComprobante?.nombre}"
                    th:data-estado-compra="${pedido.estadoCompra?.nombre}" th:data-total="${pedido.total}"
                    th:data-usuario-nombreCompleto="${pedido.usuario?.nombres + ' ' + pedido.usuario?.apellidos}"
                    th:data-usuario="${pedido.usuario?.nombreUsuario}" th:data-usuario-email="${pedido.usuario?.email}">
                    <span><i class="bi bi-trash3-fill"></i></span>
                  </button>
                </td>
              </tr>

              <!-- En caso de estar vacios -->
              <tr th:if="${pedidos==null or #lists.isEmpty(pedidos)}">
                <td colspan="11" class="text-center text-muted py-3">
                  No hay pedidos registrados.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <!-- MODALES -->
  <!-- Modal Agregar -->
  <div th:replace="~{fragments/adminBD/modalAgregarRegistro :: modalAgregarPedido}"></div>

  <!-- Modal Editar -->
  <div th:replace="~{fragments/adminBD/modalEditarRegistro :: modalEditarPedido}"></div>

  <!-- Modal Eliminar -->
  <div th:replace="~{fragments/adminBD/modalEliminarRegistro :: modalEliminarPedido}"></div>

  <!-- FOOTER -->
  <footer th:replace="~{fragments/footers :: footerAdmin}"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/administrador/index-admin.js}"></script>
  <script th:src="@{/js/administrador/modalEditarRegistro.js}"></script>
  <script th:src="@{/js/administrador/modalEliminarRegistro.js}"></script>
</body>

</html>