<div th:fragment="tablaProductos" class="container-fluid animate__animated animate__fadeIn"
    th:attr="data-mostrar-modal=${mostrarModal}">
    <!-- CONTENIDO -->
    <main class="container-fluid px-4 my-4">

        <div th:if="${mensajeExito}" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i>
            <span th:text="${mensajeExito}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${mensajeError}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <strong class="me-1">Error:</strong>
            <span th:text="${mensajeError}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bold"> Tabla Productos</h1>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
                <span><i class="bi bi-database-fill-add me-2"></i></span> Agregar
            </button>
        </div>

        <!-- Tabla -->
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>ID</th>
                                <th class="text-center">IMG</th>
                                <th>NOMBRE / SKU</th>
                                <th>DESCRIPCIÓN</th>
                                <th>PRECIO</th>
                                <th>STOCK</th>
                                <th>CATEGORÍA / COLOR</th>
                                <th>FECHA</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: .95rem;">
                            <tr th:each="producto : ${productos}">
                                <td th:text="${producto.idProducto}">ID</td>
                                <td class="text-center">
                                    <img th:if="${producto.urlImagen != null}" th:src="${producto.urlImagen}" alt="Prod"
                                        class="rounded border" style="width: 80px; height: 80px; object-fit: cover;">
                                    <div th:unless="${producto.urlImagen != null}"
                                        class="rounded bg-light border d-flex justify-content-center align-items-center mx-auto"
                                        style="width: 80px; height: 80px;">
                                        <i class="bi bi-image text-muted"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column">
                                        <span class="fw-bold" th:text="${producto.nombre}">NOMBRE
                                        </span>
                                        <small class="text-muted">
                                            <span th:text="${producto.sku}">SKU</span>
                                        </small>
                                    </div>
                                </td>
                                <td>
                                    <small class="text-muted text-truncate d-inline-block" style="max-width: 150px;"
                                        th:text="${producto.descripcion}">Desc</small>
                                </td>
                                <td class="fw-bold text-success"
                                    th:text="${'S/ ' + #numbers.formatDecimal(producto.precio, 1, 2, 'COMMA')}">Precio
                                </td>
                                <td>
                                    <span class="badge"
                                        th:classappend="${producto.stock > 10 ? 'bg-success' : (producto.stock > 0 ? 'bg-warning' : 'bg-danger')}"
                                        th:text="${producto.stock}">10</span>
                                </td>
                                <td>
                                    <div th:text="${producto.categoria?.nombre}">Cat</div>
                                    <small class="text-muted" th:text="${producto.color?.nombre}">Color</small>
                                </td>
                                <td>
                                    <div class="small"
                                        th:text="${#temporals.format(producto.fechaCreacion, 'dd/MM/yyyy')}">FECHA</div>
                                    <small class="text-muted"
                                        th:text="${#temporals.format(producto.fechaCreacion, 'HH:mm')}">HORA</small>
                                </td>
                                <td class="justify-content-center text-center">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalEditar" data-entidad="producto"
                                        th:data-id="${producto.idProducto}" th:data-sku="${producto.sku}"
                                        th:data-nombre="${producto.nombre}"
                                        th:data-descripcion="${producto.descripcion}"
                                        th:data-precio="${producto.precio}"
                                        th:data-id-categoria="${producto.categoria?.idCategoria}"
                                        th:data-stock="${producto.stock}" th:data-id-color="${producto.color?.idColor}"
                                        title="Editar">
                                        <span><i class="bi bi-pencil-square"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#modalEliminar" data-entidad="producto"
                                        th:data-id="${producto.idProducto}" th:data-nombre="${producto.nombre}"
                                        th:data-sku="${producto.sku}" th:data-categoria="${producto.categoria?.nombre}"
                                        th:data-precio="${producto.precio}" title="Eliminar">
                                        <span><i class="bi bi-trash3-fill"></i></span>
                                    </button>
                                </td>
                            </tr>

                            <tr th:if="${productos==null or #lists.isEmpty(productos)}">
                                <td colspan="8" class="text-center text-muted py-3">
                                    No hay productos registrados.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <!-- MODALES -->
    <div th:replace="~{fragments/adminBD/modalAgregarRegistro :: modalAgregarProducto}"></div>
    <div th:replace="~{fragments/adminBD/modalEditarRegistro :: modalEditarProducto}"></div>
    <div th:replace="~{fragments/adminBD/modalEliminarRegistro :: modalEliminarProducto}"></div>
</div>