<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/heads :: cabeceraPrincipal('BD - Usuarios')}"></head>

<body class="bg-light d-flex flex-column min-vh-100"
  th:attr="data-mostrar-modal=${mostrarModal}, data-usuario-actual=${usuarioActual.nombreUsuario}, data-nivel-actual=${usuarioActual.rol.nivel}">

  <!-- NAVBAR -->
  <header class="sticky-top">
    <nav th:replace="~{fragments/navbars :: navbarPrincipal}">
    </nav>
  </header>

  <!-- CONTENIDO -->
  <main class="container-fluid px-5 my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold">👥 Tabla Usuarios</h1>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
        <span><i class="bi bi-database-fill-add me-2"></i><span> Agregar
      </button>
    </div>

    <!-- Tabla -->
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead class="table-light">
              <tr>
                <th class="text-center">ID</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>CORREO</th>
                <th>USUARIO</th>
                <th class="text-center">CONTRASEÑA</th>
                <th>DNI</th>
                <th>TELÉFONO</th>
                <th>DIRECCIÓN</th>
                <th>ROL</th>
                <th>FECHA REGISTRO</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody style="font-size: .95rem;">
              <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.idUsuario}" class="text-center">ID</td>
                <td th:text="${usuario.nombres}">Nombres</td>
                <td th:text="${usuario.apellidos}">Apellidos</td>
                <td th:text="${usuario.email}">Correo</td>
                <td th:text="${usuario.nombreUsuario}">Usuario</td>
                <td class="text-center">
                  <span th:text="'*****'" th:title="${usuario.password}"></span>
                </td>
                <td th:text="${usuario.dni}">DNI</td>
                <td th:text="${usuario.telefono}">Teléfono</td>
                <td th:text="${usuario.direccion}">Direccion</td>
                <td th:text="${usuario.rol?.nombre}">Rol</td>
                <td th:text="${#temporals.format(usuario.fechaCreacion, 'dd/MM/yyyy HH:mm')}">Fecha registro</td>
                <td class="justify-content-center text-center">
                  <th:block th:if="${usuarioActual != null}">
                    <button
                      th:if="${usuarioActual.rol.nivel > usuario.rol.nivel or usuarioActual.nombreUsuario == usuario.nombreUsuario}"
                      type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditar"
                      title="Editar" data-entidad="usuario" th:data-id="${usuario.idUsuario}"
                      th:data-nombres="${usuario.nombres}" th:data-apellidos="${usuario.apellidos}"
                      th:data-email="${usuario.email}" th:data-nombre-usuario="${usuario.nombreUsuario}"
                      th:data-dni="${usuario?.dni}" th:data-telefono="${usuario?.telefono}"
                      th:data-direccion="${usuario?.direccion}" th:data-id-rol="${usuario.rol.idRol}">
                      <span><i class="bi bi-pencil-square"></i></span>
                    </button>
                    <button
                      th:if="${usuarioActual.rol.nivel > usuario.rol.nivel and usuarioActual.nombreUsuario != usuario.nombreUsuario}"
                      type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-entidad="usuario"
                      th:data-id="${usuario.idUsuario}"
                      th:data-nombre-completo="${usuario.nombres + ' ' + usuario.apellidos}"
                      th:data-dni="${usuario.dni}" th:data-email="${usuario.email}"
                      th:data-nombre-usuario="${usuario.nombreUsuario}" th:data-rol="${usuario.rol?.nombre}"
                      data-bs-target="#modalEliminar" title="Eliminar">
                      <span><i class="bi bi-trash3-fill"></i></span>
                    </button>
                  </th:block>
                  <!-- Mensaje si no hay permisos -->
                  <small
                    th:if="${!(usuarioActual.rol.nivel > usuario.rol.nivel or usuarioActual.nombreUsuario == usuario.nombreUsuario)}"
                    class="text-muted fst-italic d-block" style="font-size: 0.85rem;">
                    Sin permisos
                  </small>
                </td>
              </tr>

              <!-- En caso de estar vacios -->
              <tr th:if="${usuarios==null or #lists.isEmpty(usuarios)}">
                <td colspan="12" class="text-center text-muted py-3">
                  No hay usuarios registrados.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <!-- MODALES -->
  <!-- Modal Agregar -->
  <div th:replace="~{fragments/adminBD/modalAgregarRegistro :: modalAgregarUsuario}"></div>

  <!-- Modal Editar -->
  <div th:replace="~{fragments/adminBD/modalEditarRegistro :: modalEditarUsuario}"></div>

  <!-- Modal Eliminar -->
  <div th:replace="~{fragments/adminBD/modalEliminarRegistro :: modalEliminarUsuario}"></div>

  <!-- FOOTER -->
  <footer th:replace="~{fragments/footers :: footerAdmin}"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/administrador/index-admin.js}"></script>
  <script th:src="@{/js/administrador/usuarios.js}"></script>
  <script th:src="@{/js/administrador/modalEditarRegistro.js}"></script>
  <script th:src="@{/js/administrador/modalEliminarRegistro.js}"></script>
</body>

</html>